{% extends "base.html" %}

{% block title %}Jobs - Workish{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
        <div class="row">
            <div class="col-md mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">card 1</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <div class="col-md mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">card 2</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <div class="col-md mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">card 3</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}